{% extends 'payingGuest/basic.html' %}
{% block title %}payingGuest - Index{% endblock %}

{% block link %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

{% endblock %}

{% block css %}
.rangeslider{
position: relative;
padding-bottom: 10px;
background: #fff;
}
.rupeelabel,
#rangeValue{
position: relative;
font-size: 20px;
color: #333;
}
.range{
width: 100%;
height: 10px;
-webkit-appearance: none;
background: #CDD0D2;
outline: none;
border-radius: 15px;
overflow: hidden;
}
.range::-webkit-slider-thumb{
-webkit-appearance: none;
width: 10px;
height: 10px;
border-radius: 50%;
background: #fff;
cursor: pointer;
border: 2px solid #359FC1;
box-shadow: -407px 0 0 400px #359FC1;
}
.filter{
   background-color: #f2f2f2;
   padding-top: 15px;
   margin-left: 5px;
 justify-content: center;
}
.filterrow{
    border-left: 4px solid #359FC1;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow
{
    height: 40px !important;
}
.select2-container .select2-selection--single{
    height: 40px !important;
}
.btngo{
background-color:#009cea;
color:#fff;
border-radius: 40%;
width:50px;
transition: 0.5s ease-in-out;
opacity: 0.9;
font-weight: 900;
}
.btngo:hover{
    transform: scale(1.1, 1.1);
    background: #fff;
    color: #009cea;
    box-shadow: 2px 2px 4px #000000;
}

{% endblock %}


{% block hero %}
We help you to easily find a place <br> to live on rent
{% endblock %}

{% block body %}
{% load static %}
<div class="container d-flex justify-content-center">
    <form class="form" action="#" method="post">
        {% csrf_token %}
        <br>
        <br>
        <p style="margin-bottom:1px"><b>Filter</b></p>
        <div class="row filterrow">
            <div class="col-md-4 col-sm-6 col-xs-12 my-2 filter">
                <div class="form-group">
                    <select class="form-control"  id="city" name="city" style="width: 100%">
                        <option></option>
                        <option value="Surat">Surat</option>
                        <option value="Ahmedabad">Ahmedabad</option>
                        <option value="Vadodara">Vadodara</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 my-2 filter">
                <div class="form-group" >
                    <select class="form-control " id="area" name="area" style="width: 100%">
                        <option></option>
                        <option value="Vesu">Vesu</option>
                        <option value="Sarathana">Sarathana</option>
                        <option value="Others">Paal</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 my-2 filter">
                <div class="form-group">
                    <select class="form-control" name="gender" id="gender" style="width: 100%">
                        <option></option>
                        <option value="Vesu">Male</option>
                        <option value="Sarathana">Female</option>
                        <option value="Others">Other</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 pt-3 my-2 filter">
                <div class="form-group">
                    <select class="form-control" name="roomtype" id="roomtype" style="width: 100%">
                        <option></option>
                        <option value="Vesu">Private</option>
                        <option value="Sarathana">Shared</option>
                    </select>
                </div>
            </div>
             <div class="col-md-6 rangeslider">
                <div class="row">
                    <div class="col-md-6 pt-3">Price</div>
                    <div style="display:inline;" class="col-md-6 d-flex justify-content-end pt-3">
                        <label class="rupeelabel">&#x20B9; &nbsp;</label>
                        <span id="rangeValue">0</span>&nbsp;
                    </div>
                </div>
                <input type="range" name="range" class="range" value="0" min="0" max="5000" onChange="rangeSlide(this.value)"
                       onmousemove="rangeSlide(this.value)">
            </div>
            <div class="col-md-1 mt-4">
                <button class="btn btngo">Go</button>
            </div>
        </div>
    </form>
</div>
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h2 class="d-flex justify-content-left" >Our Collaborations</h2>
            <hr class="mt-1 ml-1" width="300px" style="background: #627680; height: 3px;">
        </div>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-4 col-md-6 portfolio-item" data-aos="slide-right">
                <div class="portfolio-wrap ">
                    <img src='{% static "payingGuest/image/camera_roll/pg4shared.jpeg" %}' class="img-fluid" alt="mess1">
                    <div class="portfolio-info">
                        <h4>Paris Bistro</h4>
                        <p>Address Address Address <br>Address Address<br> Address</p>
                    </div>
                    <div class="portfolio-links" style="bottom: calc(50% - 80px);">
                        <a href="viewpg" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Portfolio Section -->
<!--<button type="button" class="btn btn-lg btn-danger"  data-trigger="focus" data-toggle="popover" title="Popover title" data-content="And here's some amazing<b> content. </b>It's very engaging. Right?">Click to toggle popover</button>-->
<br>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

<!--popover-->
<script>
  $(document).ready(function(){
  $("button").popover({html:true})
});
</script>
<script>
  $(document).ready(function() {
    $('#roomtype').select2({
        placeholder: "Select Room Type"
    });
});
$(document).ready(function() {
    $('#gender').select2({
        placeholder: "Select Gender"
    });
});
$(document).ready(function() {
    $('#area').select2({
        placeholder: "Select Area"
    });
});
$(document).ready(function() {
    $('#city').select2({
        placeholder: "Select City"
    });
});

</script>


<!--range validator-->
<script type="text/javascript">
  function rangeSlide(value){
    document.getElementById('rangeValue').innerHTML = value;
  }

</script>
{% endblock %}